.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;

  .product-card {
    padding: 20px;
    border-style: groove;
  }

  .row {
    grid-column: span 3;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

