.products-grid {
  display: grid;
  grid-auto-columns: repeat(3, 1fr);
  gap: 5px;

  .product-card {
    padding: 20px;
    border-style: groove;
  }

  .row {
    display: grid;
    grid-auto-rows: 1fr;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}